<cws-nav></cws-nav>

<div class="body">


<!-- Form to add new orders -->
<div *ngIf="!isAdmin && !isWasher">

  <div class="modal-body d-flex align-items-center justify-content-center mt-20" id="margin" style="border-radius: 5px;">
    <form #form="ngForm" (ngSubmit)="Addorder()">
      <h1>Order Info</h1>&nbsp;&nbsp;
      <div class="mb-3">
        <label for="description" class="form-label">Date</label>
        <input type="date" class="form-control" id="description" name="description" [(ngModel)]="addorder.scheduledatetime" required>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input type="text" class="form-control" id="location" name="location" [(ngModel)]="addorder.pickUpPoint" required placeholder="E.g. 123 Main St, City">
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Amount</label>
        <input type="number" class="form-control" id="price" name="price" [(ngModel)]="addorder.totalAmount" readonly required>
      </div>
      <br>
      
      <h4>Enter Car Details</h4>
      
      <div class="mb-3">
        <label for="carModel" class="form-label">Car Model</label>
        <input type="text" class="form-control" id="carModel" name="carModel" [(ngModel)]="addorder.carModel" required placeholder="E.g. Sedan, SUV">
        <div class="invalid-feedback" *ngIf="form.controls['carModel'].touched && form.controls['carModel'].invalid">
          Car Model must be between 2 and 50 characters.
        </div>
      </div>
      <div class="mb-3">
        <label for="carNumber" class="form-label">Car Number</label>
        <input type="text" class="form-control" id="carNumber" name="carNumber" [(ngModel)]="addorder.carNumber" required placeholder="E.g. AB 123 CD">
        <div class="invalid-feedback" *ngIf="form.controls['carNumber'].touched && form.controls['carNumber'].invalid">
          Car Number must be alphanumeric and between 6 and 10 characters.
        </div>
       
      </div>
      
      
      <div class="text-center">
       <button type="submit" class="btn btn-primary tex" (click)="Addorder()">Submit</button>
      </div>
      <!-- <div>
        <button class="btn btn-primary" (click)="sendEmailForOrder(order)">Send Email</button>
      </div> -->
      
    </form>
  </div>
  <div class="modal-footer">
  </div>
  <cws-footer></cws-footer>
</div>

</div>

<!-- Table to display all orders for admins -->
<div *ngIf="isAdmin" class="container">
  <h3>All Orders</h3>
  <table class="table table-bordered table-striped">
    <thead class="table-dark">
      <tr>
        <th>Id</th>
        <th>Date</th>
        <th>Location</th>
        <th>Amount</th>
        <th>Car Model</th>
        <th>Car Number</th>
        <th>Customer UserId</th>
        <th>Customer Name</th>
        <th>Washing Status</th>
        <th>WasherID</th>
        <th>Delete Order</th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of addons">
        <td>{{ order.id }}</td>
        <td>{{ order.scheduledatetime | date:'dd/MM/yyyy  ' }}</td>
        <td>{{ order.pickUpPoint }}</td>
        <td>{{ order.totalAmount }}</td>
        <td>{{ order.carModel }}</td>
        <td>{{ order.carNumber }}</td>
        <td>{{ order.userId }}</td>
        <td>{{ order.name }}</td>
        <td><span [ngClass]="{
          'badge': true,
          'custom-badge-pending': order.washingStatus === 'Pending',
          'custom-badge-approved': order.washingStatus === 'approved',
          'custom-badge-rejected': order.washingStatus === 'rejected'
        }">
          {{ order.washingStatus }}
        </span>
        </td>
        <td>{{order.washerId}}</td>
          <td><button class="btn btn-danger btn-sm" *ngIf="order.id !== undefined" (click)="deleteOrder(order.id)">delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Table to display orders for washer -->
<!-- Table to display orders for washer -->
<div *ngIf="isWasher" class="container">
  <h3>Orders for Washer</h3>
  <table class="table table-bordered table-striped">
    <thead class="table-dark">
      <tr>
        <th>Id</th>
        <th>Date</th>
        <th>Location</th>
        <th>Amount</th>
        <th>Car Model</th>
        <th>Car Number</th>
        <th>Customer UserId</th>
        <th>Customer Name</th>
        <th>Update Order</th>
      
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of addons; let i = index" class="order-card" [ngClass]="{ 'approved': order.washingStatus === 'approved' && selectedOrderIndex === i, 'rejected': order.washingStatus === 'rejected' && selectedOrderIndex === i }">
        <td>{{ order.id }}</td>
        <td>{{ order.scheduledatetime |date:'dd/MM/yyyy  ' }}</td>
        <td>{{ order.pickUpPoint }}</td>
        <td>{{ order.totalAmount }}</td>
        <td>{{ order.carModel }}</td>
        <td>{{ order.carNumber }}</td>
        <td>{{ order.userId }}</td>
        <td>{{ order.name }}</td>
        
        <td>
          <button class="btn btn-success" (click)="updateOrderStatus(order, i)" [disabled]="order.washingStatus === 'approved' ">Approve</button>
          <button class="btn btn-danger" (click)="rejectOrderStatus(order, i)" [disabled]="order.washingStatus === 'approved' || order.washingStatus ==='rejected' ">Reject</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
