

<cws-nav></cws-nav>

<div class="form-container">
  <div class="form login">
    <form [formGroup]="loginForm" (ngSubmit)="onPost()">
      <div class="title">
        Login
      </div>
      <div class="input-container">
        <input type="text" formControlName="email" class="input" placeholder="Email">
        <div class="msg error" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error-msg">
          <span class="msg error" *ngIf="loginForm.get('email')?.hasError('required')">Email is required.</span>
        <span class="msg error" *ngIf="loginForm.get('email')?.hasError('email')">Invalid email format.</span>
        </div>
      </div>
      <div class="input-container">
        <input type="password" formControlName="password" class="input" placeholder="Password">
        <div class="msg error" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error-msg">
        <span class="msg error" *ngIf="loginForm.get('password')?.hasError('required')">Password is required.</span>
        </div>
      </div>
      <button type="submit" id="btnSubmit">Login</button>
      <div class="msg light">
        <!-- {{ loginMessage }} -->
      </div>
      <a routerLink="/signup" class="link">Not a member? Signup here</a>
    </form>
  </div>
</div>

<cws-footer></cws-footer>





