<cws-nav></cws-nav>
<div class="container contact-container p-20">
    <div class="row">
      <div class="col-lg-6">
        <video  autoplay  loop id="video1" class="w-100">
          <source src="https://cdnl.iconscout.com/lottie/premium/thumb/car-wash-service-5183523-4334681.mp4" type="video/mp4">
        </video>
      </div>
      <div class="col-lg-6 mt-2 p-20">
        <aside>
          <h4>Contact Us!</h4>
          <p>Thank you for your interest in GreenWashSystem! We welcome any inquiries, feedback, or questions you may have. Please feel free to reach out to us using the contact information below:</p>
  
          <h5>General Inquiries:</h5>
          <p>
            Email: info@greenwashsystem.com<br>
            Phone: +91 (555) 123-4567
          </p>
  
          <h5>Sales and Partnerships:</h5>
          <p>
            Email: sales@greenwashsystem.com<br>
            Phone: +91 (555) 987-654
          </p>
        </aside>
      </div>
    </div>
  </div>
  <cws-footer></cws-footer>