<div class="nav">
    <div>
      <img src="https://img.freepik.com/free-vector/carwash-neon-word-automobile-foam-logo-neon-sign-night-bright-advertisement_1262-11848.jpg?size=626&ext=jpg&ga=GA1.1.1402036000.1683896339&semt=ais"
       alt="Carwash Logo">
    </div>
    <div>
      <a routerLink="/">Home</a>
      <a routerLink="/login">Login</a>
      <a routerLink="/contact">Contact</a>
      <a routerLink="/signup">signup</a>
      <button (click)="logout()">Logout

      </button>
     
  
    </div>