/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}

/* styles.css */

.alert {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
  