
 <cws-nav></cws-nav>
  
  <div class="car" style="background-color: rgb(126, 149, 250);">
    
    
    <cws-animation1></cws-animation1>
    <!-- <h1>Welcome to Our <u> Go Car Wash!</u>  </h1>
    
    <p >Get your car cleaned by professionals</p> -->
    <!-- <button class="btn-primary">Book Now</button> -->
  </div>
  
  <section class="services">
    <h2>Our Services</h2>
    <div class="service-card">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFyF3na3t0jH4a93SllNVKWQvf8-fSTe-qeg&usqp=CAU" alt="Car Wash">
      <a href="/washerpackage"><h3>Car Wash</h3></a>
      <p>Clean and shine your car with our exceptional service.</p>
    </div>
    <div class="service-card">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWHsjr7SjRPOm0PScONTic1PTcH_dSj91dhZKqyWB7Sk604kXLyBFJFx4hVm5BZ2KG0JI&usqp=CAU" alt="Car Detailing">
      <h3>Car Detailing</h3>
      <p>Restore your car's appearance with our detail-oriented service.</p>
    </div>
  </section>
  <cws-footer></cws-footer>




